[source_cluster]
source

[source_cluster:vars]
ansible_connection=local
controller_username=<user>
controller_password=<password>
controller_hostname=<hostname>
controller_validate_certs=<validate_certs>
controller_api_plugin=awx.awx

[dest_cluster]
dest

[dest_cluster:vars]
ansible_connection=local
controller_username=<user>
controller_password=<password>
controller_hostname=<hostname>
controller_validate_certs=<validate_certs>
controller_api_plugin=ansible.controller

[all:vars]
output_path=/tmp/export